.bike {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  gap: 2.5rem;

  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

#bike .title p {
  text-transform: uppercase;
}


.bike-img {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.bike-img img {
  flex: 1;
  min-width: 200px;
}

.bike-img img:first-child {
  min-width: 100%;
}

.bike-content > p {
  margin-bottom: 2rem;
}

.bike-buy {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px;

  margin-bottom: 2.5rem;
}

.bike-buy a {
  grid-row: span 2;
}

.bike-buy span {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0.25rem 0.5rem;

  background-color: var(--black);
  border-radius: 4px;
}

.bike-content h2 {
  text-transform: uppercase;
  letter-spacing: 0.015em;
  margin-bottom: 0.75rem;
}

.bike-informations,
.bike-datasheet {
 padding: 2rem;
 background-color: var(--black); 
 border-radius: 4px;
}

.bike-informations {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  margin-bottom: 2.5rem;
}

.bike-informations img {
  width: 1.5rem;
  margin-bottom: 8px;
}

.bike-informations h3 {
  margin-bottom: 0.5rem;
}

.bike-datasheet li {
  display: flex;
  justify-content: space-between;

  padding: 4px 0;
}

.bike-datasheet span {
  color: var(--grey-600);
}

.bike-datasheet li + li {
  border-top: 1px solid var(--dark-grey-400);
}

@media (max-width: 800px) {
  .bike {
    grid-template-columns: 1fr;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .bike-img {
    grid-row: 2;
  }
}

@media (max-width: 400px) {
  .bike-informations {
    grid-template-columns: 1fr;
  }

  .bike-buy {
    grid-template-columns: 1fr;
  }
}