.container {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.button {
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  text-transform: uppercase;

  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  padding: 1rem 2rem;

  color: var(--yellow-800);
  background: linear-gradient(#ffbf00, #f2a50c);

  display: inline-block;
  max-width: max-content;
}

.button:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.button.secondary {
  background: var(--dark-grey-200);
  color: var(--grey-200);
}

.button.arrow {
  display: flex;
  align-items: center;
}

.button.arrow::after {
  content: "";
  display: inline-block;
  width: 1.125rem;
  height: 0.625rem;
  margin-left: 0.75rem;
  background: url('../../assets/icones/seta.svg');

  transition: 0.3s;
}

.button.arrow:hover::after {
  transform: translateX(4px);
}

.button:hover {
  filter: brightness(0.8);
}

.span-style {
  color: var(--yellow-400);
}

.title-bg {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  background-color: var(--dark-grey-400);
}

.title p {
  margin-bottom: 0.25rem;
}

@media (max-width: 600px) {
  .button {
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .title-bg {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .title p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}