/* Globais */
@import url("global/global.css");
@import url("global/header.css");
@import url("global/footer.css");

/* Utilidades */
@import url("utility/components.css");
@import url("utility/typography.css");
@import url("utility/colors.css");

/* Home */
@import url("home/introduction.css");

/* Bicicletas */
@import url("home/bikes-list.css");

/* Tecnologia */
@import url("home/technology.css");

/* Parceiros */
@import url("home/partners.css");

/* Depoimentos */
@import url("home/depositions.css");

/* Seguros */
@import url("home/secures.css");

/* Pages */

/* Termos */
@import url("terms/style.css");

:root {
  --white: #ffffff;
  --grey-100: #f7f7f7;
  --grey-200: #ededed;
  --grey-300: #dedede;
  --grey-400: #cccccc;
  --grey-500: #b2b2b2;
  --grey-600: #9c9c9c;
  --grey-700: #717171;
  --dark-grey-100: #595959;
  --dark-grey-200: #404040;
  --dark-grey-300: #2e2e2e;
  --dark-grey-400: #111111;
  --black: #000000;
  --yellow-400: #ffbb00;
  --yellow-500: #e4a30b;
  --yellow-600: #a66f00;
  --yellow-700: #664400;
  --yellow-800: #332200;
}
